<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Regression</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap" rel="stylesheet">

</head>
<style>

h1{
    text-align: center;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    color:darkblue;

 }
.container
{

  position: relative;
  height: 300px;
  width: 500px;
  top: 100px;
  bottom: 100px;
  margin: auto;
  padding: 0;

}
label {
    color:black;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
 
button{
    width: 7em;
}



</style>
<body>
    <h1>Linear Regression Model</h1>
    <h1>Predicting Life Satisfacion Of a Country Based On GDP/Capita($)</h1>
<div class='container'>
        <form action= "{{url_for('linear') }}" method="POST">
            <div class='form-group'>
         <label>Country</label>
          <input type='text' name="Country_Name" class='form-control'></div>
          <div class='form-group'>
         <label>GDP</label>
        <input type='text' name="GDP" class='form-control'></div>
        <button type="submit" class="btn btn-dark">Predict</button>
 </form>
 
    {{ prediction_text }}
    </div>
    
</body>
</html>